* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Begin Header with Logo and Navigation */

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  display: inline-flex;
}

h4 {
  color: MediumAquaMarine;
  padding-left: 10px;
  padding-top: 20px;
}

#navigation span a {
  display: inline-block;
  padding-left: 20px;
  color: black;
}

/* End Header with Logo and Navigation */

/* Begin Main Container */

div {
  border: 1px solid black;
}

#maincontainer {
  display: flex;
  justify-content: space-around;
}

.column.large {
  width: 630px;
  display: flex;
  flex-direction: column;
}

.column.medium {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.column.small {
  width: 240px;
  display: flex;
  flex-direction: column;
}

/* End Main Container */
