* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

div {
  border: 1px solid black;
}

/* Begin Header with Logo and Navigation */

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#logo {
  display: inline-flex;
}

h4 {
  color: MediumAquaMarine;
  padding-left: 10px;
  padding-top: 20px;
}

#navigation span a {
  display: inline-block;
  padding-left: 20px;
  color: black;
}

/* End Header with Logo and Navigation */

/* Begin Main Container */

#maincontainer {
  display: flex;
  justify-content: space-around;
}

.column.large {
  width: 630px;
  display: flex;
  flex-direction: column;
}

.column.medium {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.column.small {
  width: 240px;
  display: flex;
  flex-direction: column;
}

.story {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  padding: 10px 10px 10px 0px;
}

.story.one {
  background-image:url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png');
  display: flex;
  height: 300px;
}

.headlineone {
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.story.four {
  background-image:url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png');
  display: flex;
  height: 300px;
}

.headlinefour {
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.story.six {
  background-image:url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png');
  display: flex;
  height: 300px;
}

.headlinesix {
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.story.eight {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png');
  display: flex;
  height: 300px;
}

.headlineeight {
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

/* End Main Container */
