* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*div {
  border: 1px solid black;
}*/

/* Begin Header with Logo and Navigation */

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  position: fixed;
}

#logo {
  display: inline-flex;
}

h4 {
  color: MediumAquaMarine;
  padding-left: 10px;
  padding-top: 20px;
}

#navigation span a {
  display: inline-block;
  padding-left: 20px;
  color: black;
}

/* End Header with Logo and Navigation */

#maincontainer {
  display: flex;
  justify-content: space-around;
  padding-top: 150px;
}

.column.large {
  width: 630px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.column.medium {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.column.small {
  width: 240px;
  display: flex;
  flex-direction: column;
}

.story {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  padding: 10px 10px 10px 0px;
}

.story.one {
  background-image:url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png');
  display: flex;
  height: 300px;
}

.headlineone {
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.story.three {
  height: 300px;
  width: 300px;
  order: 1;
}

.story.four {
  background-image:url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png');
  display: flex;
  height: 300px;
  width: 300px;
  order: 3;
}

.headlinefour {
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.story.five {
  height: 300px;
  width: 300px;
  order: 2;
}

.story.six {
  background-image:url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png');
  display: flex;
  height: 300px;
  width: 300px;
  order: 4;
}

.headlinesix {
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.story.eight {
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png');
  display: flex;
  height: 300px;
}

.headlineeight {
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

#newsbites {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

li {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  list-style: none;
  padding: 10px 10px;
  border-bottom: 1px solid black;
}

/* End Main Container */

/* Begin Footer */

footer {
  background-color: MediumAquaMarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  flex-direction: column;
}

.footerlogo {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right: 2px solid white;
  padding-right: 30px;
  display: inline-block;
}

.footernav {
  display: inline-block;
  padding-left: 25px;
}

.footernav span a {
  color: black;
  padding-left: 15px;
}

/* End Footer */
